#map{
    width: 100%;
    height: 400px;
    overflow: auto;
    margin: auto;
}

.imgIcon{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
    img{
    width: 10%;
    height: 10%;
    margin: auto;
    border: 20px solid rgb(255, 166, 0);
    overflow: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header{
    color: white ;text-align: center; margin: auto; background-color: rgb(255, 165, 0);font-size: 25px; font-style: normal ; border: 10px solid rgb(255, 166, 0);
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    margin: auto; 
    padding-left: 25%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    padding-right: 25%;
}
  
  /* Modal Content */
  .modal-content {
    position: calc(center);
    background-color: white;
    display: block;
    padding: 0;
    border: 8px solid teal; 
    width: 50%;
    height: 50%;
    box-shadow: 10% white;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
}
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 30px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: teal;
    text-decoration: dashed;
    cursor: pointer;
}
  
  .modal-header {
    padding: 8px;
    color: teal;
    font-size: 16px;
    font-style: normal;
    text-align: left;
}
#Save {
    font-size: 28px;
    color: white;
    text-align: center;
    border: 6px solid white;
    transition-duration: 1s;
    background-color:teal;
    color: white;
    font-style: normal;
    margin: 50px;
}
.parselTypeLabel{
    font-size: 16px;
    font-style: normal;
    transition-duration: 1s;
    box-shadow: 2px;

}

th, td {
  border: 1.5px solid white;
  border-color: teal;
  width: 50%;
  height: 75%;
  padding:10px;
}